.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  pointer-events: none;
}

.App-logo {
  animation: App-logo-animation 0.5s infinite alternate;
  -webkit-animation: App-logo-animation 4s infinite alternate;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-search-container {
  display: flex;
  justify-items: center;
  padding: 0;
  margin: 0;
}

.App-input-search {
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  left: 40px;
  margin-top: 27px !important;
  height: 36px;
  width: 374px;
}

.App-button-search{
  position: relative;
  left: 20px;
  border: none;
  border-radius: 0.4rem;
  font-size: 1.2rem;
  margin-top: 27px !important;
  height: 36px;
  width: 150px;
  color: #ffffff;
  background-color: #22252A;
  cursor: pointer;
}

@keyframes App-logo-animation {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-15px);
  }
}
